.wrapper{
  display: flex;
}

.side-bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side-header{
  height: 100px;
  padding: 0 20px; 
}

.side-rooms{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
}

.chat{
  background-color: #FFFFFF;
  width: calc(100vw - 300px); /*calc(計算式) cssで計算式を使うときに使用、数値と演算子の間には必ずスペースを入力する */
}

.chat-header{
  height: 100px;
  padding: 0 40px;
}

.chat-messages{
  height: calc(100vh - 100px - 90px); /*他の人がわかりやすいように(全体ーheader-footer)と入力*/
  background-color: #FAFAFA;
  padding: 46px 40px 0;
}

.chat-footer{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}